.drawerMenu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 51;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(125, 125, 125, 0.6);
}

.drawerContent {
  width: 80%;
  height: 100%;
  background: rgb(255, 180, 106);
  display: inline-block;
  /* vertical-align: top; */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 52;
  list-style: none;
  transition: all .5s ease-in-out;
}

.drawerContent li a{
  display: flex;
  align-items: center;
  padding: 15px;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  color: #fff !important;
  text-decoration: none !important;
}

.drawerContent i {
  font-size: 20px;
  margin-right: 10px;
}

.drawerBackdrop {
  width: 20%;
  height: 100%;
  background: rgba(125, 125, 125, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.LogoutBtn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  color: #fff !important;
  text-decoration: none !important;
  border: none;
  background: transparent;
}