.verticalList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.verticalListItem {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 15px;
  width: 100%;
  text-decoration: none;
  color: #444;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #fff;
}

.verticalListItem img {
  width: 100px;
  margin: 0 10px;
  max-width: 30%;
  height: 100px;
  max-height: 40%;
  border-radius: 12px;
}

.itemContent {
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  width: calc(100% - 50px);
}

.itemContent span {
  font-size: 12px;
  color: #999;
}

.logoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	color: inherit;
	text-decoration: none;
}

.logoImg {
	width: 50px;
	height: 50px;
}