.orderContainer {
	margin-top: 20px;
	padding: 8px;
	color: #444;
}

.addMoreItensBtn {
	border: 1px solid #216C2A;
	border-radius: 8px;
	color: #216C2A;
	background: #fff;
	width: 100%;
	padding: 8px;
	font-size: 16px;
	text-align: center;
}

.orderItemContainer {
	border-top: 1px dotted #444;
	padding: 10px;
	margin: 10px 0;
	position: relative;
}

.orderItemEditContainer {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.orderItemEditBtn {
	border: none;
	width: 30px;
	height: 30px;
	font-size: 14px;
	background: transparent;
}

.orderItemContentContainer {
	/* width: 80%; */
}

.orderItemContentField {
	display: flex;
	justify-content: space-between;
}

.orderPaymentTitle {
	text-align: center;
	margin-top: 10px;
}

.orderPaymentContainer {
	border-bottom: 1px dotted #444;
	border-top: 1px dotted #444;
	margin: 10px 0; padding: 10px;
}

.orderPaymentBtn {
	padding: 6px;
	border-radius: 6px;
	background: #216C2A;
	color: #fff;
	border: none;
	margin-top: 10px;
	display: block;
	width: 100%;
}