.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;	
	background: rgb(255, 180, 106);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	padding: 0 15px;
	z-index: 50;
	color: #fff;
}

.backBtn {
	height: 30px;
	width: 30px;
	font-size: 30px;
	position: absolute;
	left: 13px;
	top: 13px;
	background: transparent;
	border: none;
	color: inherit;
	outline: 0;
	text-decoration: none;
	text-align: center;
}


.menuBtn {
	width: 30px;
	height: 30px;
	font-size: 30px;
	position: absolute;
	right: 13px;
	top: 13px;
	background: transparent;
	border: none;
	color: inherit;
	outline: 0;
	text-decoration: none;	
}

.logoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	color: inherit;
	text-decoration: none;
}

.logoImg {
	width: 30px;
	height: 30px;
}
