.orderContainer {
	margin-top: 20px;
	padding: 8px;
	color: #444;
}

.addMoreItensBtn {
	border: 1px solid rgb(255, 180, 106);
	border-radius: 8px;
	color: rgb(255, 180, 106);
	background: #fff;
	box-shadow: 3px 3px 5px #ccc;
	width: 100%;
	padding: 8px;
	font-size: 16px;
	text-align: center;
}

.orderItemContainer {
	border-top: 1px dotted #444;
	padding: 10px;
	margin: 10px 0;
	position: relative;
}

.orderItemEditContainer {
	position: absolute;
	top: 10px;
	right: 0;
	display: flex;
	align-items: center;
}

.orderItemEditBtn {
	border: none;
	width: 16px;
	height: 16px;
	font-size: 16px;
	margin-right: 10px;
	background: transparent;
}

.orderItemContentContainer {
	/* width: 80%; */
}

.orderItemContentField {
	display: flex;
	justify-content: space-between;
}

.orderPaymentTitle {
	text-align: center;
	margin-top: 10px;
}

.orderPaymentContainer {
	border-bottom: 1px dotted #444;
	border-top: 1px dotted #444;
	margin: 10px 0;
	padding: 10px;
}

.orderPaymentBtn {
	padding: 6px;
	border-radius: 6px;
	background: rgb(255, 180, 106);
	box-shadow: 3px 3px 5px #ccc;
	color: #fff;
	border: none;
	margin-top: 10px;
	display: block;
	width: 100%;
}